.navbar {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 4;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

@media screen and (max-width: 497px) {
    .navbar {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        padding: 0.25rem 1.5rem;
    }
}

.navbar-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, .75);
    /* box-shadow: 0 0.125rem 0.5rem 0 rgb(95 126 155 / 15%); */
}

.navbar-bg {
    backdrop-filter: blur(10px);
}


@media screen and (max-width: 991px) {
    .navbar-bg {
        background: #fff;
    }
}

.nav {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 105rem;
    pointer-events: auto;
}

@media screen and (max-width: 767px) {
    .nav-logo {
        width: 6.75em;
    }
}


.nav-logo {
    width: 8rem;
    color: #23262d;
    max-width: 100%;
    display: inline-block;
}

.nav-links {
    display: flex;
    margin-bottom: 0;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    color: #23262d;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
}

.m-r-4 {
    margin-right: 0.25rem;
}

.arrow {
    display: flex;
    transition: transform .4s cubic-bezier(.19, 1, .22, 1), -webkit-transform .4s cubic-bezier(.19, 1, .22, 1);
    transform: rotate(0);
    cursor: default;
}

a {
    color: #23262d;
    text-decoration: none;
}



@media screen and (max-width: 991px) {
    .nav-links {
        position: absolute;
        left: 0;
        right: 0;
        bottom: auto;
        display: none;
        overflow: auto;
        max-height: 90vh;
        padding: 1rem 1.5rem 1.125rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 0.5rem 0 rgb(14 16 18 / 10%);
    }
}

@media screen and (max-width: 767px) {
    .nav-links {
        top: 3.25rem;
    }
}

@media screen and (max-width: 991px) {
    .nav-item {
        width: 100%;
        -webkit-box-align: start;
        align-items: flex-start;
        border-bottom: 1px solid #d5dae2;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}


